<section >
  <div class="container-fluid py-3">
    <div class="row g-3">
      <!-- Search input -->
      <div class="col-12 col-md-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control "
            placeholder="ابحث بالاسم أو الرقم القومي"
            [formControl]="searchControl"
          />
        </div>
      </div>
  
      <!-- Sort dropdown -->
      <!-- <div class="col-12 col-md-2">
        <select class="form-select" [formControl]="sortControl">
          <option value="normal">الاقدم اولا</option>
          <option value="reverse">الاحدث اولا</option>
        </select>
      </div> -->
  
  
      <!-- Gender filters -->
      <div class="col-12 col-md-1">
        <div class="btn-group w-100" role="group" aria-label="Gender filter buttons">
          <!-- Male -->
          <input
            type="checkbox"
            value="MALE"
            id="male"
            class="btn-check"
            (change)="onGenderChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="male">
            ذكر
          </label>
  
          <!-- Female -->
          <input
            type="checkbox"
            value="FEMALE"
            id="female"
            class="btn-check"
            (change)="onGenderChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-info" for="female">
            أنثى
          </label>
        </div>
      </div>

      <div class="btn-group mb-3 col-md-2" role="group" aria-label="Data Source Toggle">
        <input type="radio" class="btn-check source" name="dataSource" id="allData" [(ngModel)]="selectedSource" value="old" (change)="onSourceChange()">
        <label class="btn btn-outline-primary" for="allData">القدامى</label>
      
        <input type="radio" class="btn-check source" name="dataSource" id="sortedData" [(ngModel)]="selectedSource" value="new" (change)="onSourceChange()">
        <label class="btn btn-outline-primary" for="sortedData">المستجدين</label>
      </div>
  
      <!-- Action buttons -->
      <div class="col-12 col-md-2">
        <div class="d-flex gap-2">
          <button
            *appPrivileges="'ACCESS_UPLOAD_ROOM_ASSIGNMENT'"
            type="button"
            class="btn btn-outline-success flex-fill d-flex justify-content-center align-items-center gap-2"
            (click)="openUploadDialog()"
          >
            <i class="fa-solid fa-upload"></i>
            <span>تسكين</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
    <h4 class="text-center">
      عدد الطلبات:
      {{
        searchControl.value || selectedStatuses.length > 0
          ? filteredItems.length
          : res.length
      }}
    </h4>
  
    <table class="table m-auto px-0 table-hover table-striped container border border-3 rounded rounded-3 shadow-lg">
      <thead class="">
        <tr class="">
          <th scope="col">الحالة</th>
          <th scope="col">الرقم القومي</th>
          <th scope="col">الاسم</th>
          <th scope="col">الموبايل</th>
          <th scope="col" *ngIf="!_AuthService.getRole()?.includes('ViEW')">تلقائي</th>
          <th *ngIf="!_AuthService.getRole()?.includes('ViEW')" scope="col">المبنى و الغرفة</th>
        </tr>
      </thead>
      <tbody class="">
        @for (item of res; track item.userId) {
        <tr (click)="RowClick(item)" class="cursor-pointer">
          <td><i
            [class.text-success]="item?.status === 'ACCEPTED'"
            [class.text-danger]="item?.status === 'REJECTED'"
            [class.text-warning]="item?.status === 'UNDER_REVIEW'"
            class="fa-solid fa-circle mx-2"
          ></i></td>
          <th scope="row">{{ item?.nationalId }}</th>
          <td>{{ item?.firstName }}</td>
          <td>{{ item?.mobileNumber }}</td>
          <td *ngIf="!_AuthService.getRole()?.includes('ViEW')">
            <button
            (click)="autoAssignRoom(item);$event.stopPropagation()"
             [disabled]="item?.room"
             type="button"
             class="btn btn-success"
             *appPrivileges="'ACCESS_ASSIGNMENT'"
             >
              تسكين
          </button>
        </td>
          <td class="py-0" >
            <app-assign-row [student]="item" [resBuildings]="resBuildings" (roomAssigned)="onRoomAssigned(item);"></app-assign-row>
          </td>
        </tr>
        }
      </tbody>
    </table>

  <!-- Enhanced Pagination -->
   
  <nav dir="rtl" class="py-4" aria-label="Page navigation">
    <ul class="pagination pagination-md justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1 || displayedPages.length === 0">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
          <span class="d-none d-sm-inline ms-1 cursor-pointer">السابق</span>
        </a>
      </li>
      <li class="page-item cursor-pointer" *ngFor="let page of displayedPages" [class.active]="page === currentPage">
        <a [ngClass]="{'disabled': page === currentPage}" class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item cursor-pointer" [class.disabled]="currentPage === totalPages|| displayedPages.length === 0">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span class="d-none d-sm-inline me-1 cursor-pointer">التالي</span>
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  
</section>
  