<section class="d-flex h-100">
  <div class="col-md-6 h-100">
    <h1>Hierarchical Tree Structure</h1>
    <nav class="nav">
      <ul class="w-100 d-flex justify-content-center">
        <li>
          <a href="#">
            عدد طلبات الالتحاق
            {{ data?.male?.total + data?.female?.total }}
          </a>
          <ul>
            <li>
              <a href="#">
                عدد الطلبات الذكور
                {{ data?.male?.total }}
              </a>
              <ul>
                <li>
                  <a href="#">
                    المرفوض
                    {{ data?.male?.REJECTED}}
                  </a>
                </li>
                <li>
                  <a href="#">
                    تحت المراجعه
                    {{ data?.male?.UNDER_REVIEW}}
                  </a>
                </li>
                <li>
                  <a href="#">
                    المقبول
                    {{ data?.male?.ACCEPTED}}
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#">
                عدد الطلبات الأناث
                {{ data?.female?.total }}
              </a>
              <ul>
                <li>
                  <a href="#">
                    المرفوض
                    {{ data?.female?.REJECTED }}
                  </a>
                </li>
                <li>
                  <a href="#">
                    تحت المراجعه
                    {{ data?.female?.UNDER_REVIEW }}
                  </a>
                </li>
                <li>
                  <a href="#">
                    المقبول
                    {{ data?.female?.ACCEPTED }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
    <img class="w-100" src="../../../assets/admin-illustration.jpg" alt="" />
  </div>
</section>
