<section class="outlet-container">
  <div dir="rtl" class="my-container">
    <div style="height: 90px"></div>
    <section class="bg-white shadow-lg container mx-auto my-5 p-4 rounded-4">
      <div class="flex flex-col">
        <div class="title  fw-bold border-bottom mb-4">
          <p>
            @if(!isEditMode) {
              <h2 class="text-black p-3 font-semibold">تقديم طلب الالتحاق</h2>
              قم باختيار (قدامى/مستجدين) وملء بياناتك ثم
              الموافقة على الإقرار بالأسفل مع ملاحظة ان الطلاب المستجدين هم طلاب
              الفرق الأولى أو الاعدادية، الطلاب القدامى هم طلاب مابعد الفرق الأولى
              أو الاعدادية } 
              @else { 
              <h2 class="text-black p-3 font-semibold">تعديل طلب الالتحاق</h2>
              يمكنك تعديل بياناتك ثم الضغط على زر "تعديل
              طلب الالتحاق" لحفظ التغييرات }
          </p>
        </div>
        <div class="mb-3 row p-2">
          <div class="d-flex flex-wrap justify-content-start gap-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <button
                type="button"
                class="btn w-100"
                [class.btn-main]="activeButton === 'old'"
                [class.btn-outline-secondary]="activeButton !== 'old'"
                (click)="selectStudentType('old')"
              >
                <span class="d-none d-sm-inline">طلاب قدامى</span>
                <span class="d-inline d-sm-none">قدامى</span>
              </button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <button
                type="button"
                class="btn w-100"
                [class.btn-main]="activeButton === 'new'"
                [class.btn-outline-secondary]="activeButton !== 'new'"
                (click)="selectStudentType('new')"
              >
                <span class="d-none d-sm-inline">طلاب مستجدين</span>
                <span class="d-inline d-sm-none">مستجدين</span>
              </button>
            </div>
          </div>

<!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
  <div class="d-flex gap-2">
    <button
      type="button"
      class="btn w-100"
      [class.btn-main]="selectedNationality === 'egyptian'"
      [class.btn-outline-secondary]="selectedNationality !== 'egyptian'"
      (click)="selectNationality('egyptian')"
    >
      <span class="d-none d-sm-inline">مصري</span>
      <span class="d-inline d-sm-none">مصري</span>
    </button>
    <button
      type="button"
      class="btn w-100"
      [class.btn-main]="selectedNationality === 'foreigner'"
      [class.btn-outline-secondary]="selectedNationality !== 'foreigner'"
      (click)="selectNationality('foreigner')"
    >
      <span class="d-none d-sm-inline">وافد</span>
      <span class="d-inline d-sm-none">وافد</span>
    </button>
  </div>
</div> -->






          
        </div>
        @if (studentType !== null) {
        <form [formGroup]="AppRequest">


  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2 border-bottom">
    <div class="d-flex gap-2">
     <button
  type="button"
  class="btn w-100"
  [class.btn-main]="AppRequest.get('personalInfo.studentType')?.value === 'LOCAL'"
  [class.btn-outline-secondary]="AppRequest.get('personalInfo.studentType')?.value !== 'LOCAL'"
  (click)="selectNationality('LOCAL')"
>
  <span class="d-none d-sm-inline">مصري</span>
  <span class="d-inline d-sm-none">مصري</span>
</button>

<button
  type="button"
  class="btn w-100"
  [class.btn-main]="AppRequest.get('personalInfo.studentType')?.value === 'EXPATRIATE'"
  [class.btn-outline-secondary]="AppRequest.get('personalInfo.studentType')?.value !== 'EXPATRIATE'"
  (click)="selectNationality('EXPATRIATE')"
>
  <span class="d-none d-sm-inline">وافد</span>
  <span class="d-inline d-sm-none">وافد</span>
</button>

    </div>
  </div>





          <div class="flex flex-col">
            <!-- Vertical stepper for large screens -->
            <!-- <mat-vertical-stepper
              *ngIf="!isMobile"
              #stepperLarge
              class="bg-white p-4 w-100"
              labelPosition="bottom"
              [linear]="true"
            >
              <mat-step [stepControl]="personalInfoGroup">
                <ng-template matStepLabel>Personal Information</ng-template>
                <app-basic-info-step
                  [formGroup]="personalInfoGroup"
                ></app-basic-info-step>
                <div *ngIf="personalInfoGroup.invalid && personalInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div>
                  <button class="btn btn-main" mat-button matStepperNext [disabled]="personalInfoGroup.invalid">
                    <i class="fa-solid fa-forward"></i> التالي
                  </button>
                </div>
              </mat-step>
              <mat-step [stepControl]="familyInfoGroup">
                <ng-template matStepLabel>Family Information</ng-template>
                <app-family-info-step
                  [formGroup]="familyInfoGroup"
                ></app-family-info-step>
                <div *ngIf="familyInfoGroup.invalid && familyInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext [disabled]="familyInfoGroup.invalid">
                    <i class="fa-solid fa-forward"></i> التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                     السابق <i class="fa-solid fa-backward"></i>
                  </button>
                </div>
              </mat-step>
              <mat-step [stepControl]="academicInfoGroup">
                <ng-template matStepLabel>Academic Information</ng-template>
                <app-academic-info-step
                  [formGroup]="academicInfoGroup"
                  [levels]="levels()"
                  [studentType]="studentType"
                ></app-academic-info-step>
                <div *ngIf="academicInfoGroup.invalid && academicInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext [disabled]="academicInfoGroup.invalid">
                    <i class="fa-solid fa-forward"></i> التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                     السابق <i class="fa-solid fa-backward"></i>
                  </button>
                </div>
              </mat-step>
              <mat-step [stepControl]="contactInfoGroup">
                <ng-template matStepLabel>Contact Information</ng-template>
                <app-contact-info-step
                  [formGroup]="contactInfoGroup"
                  [countriesList]="countries"
                  [governoratesList]="filteredGovernorates()"
                  [citiesList]="filteredCities()"
                  [currentCountryCode]="selectedCountry()"
                  [currentGovernorateId]="selectedGovernorate()"
                ></app-contact-info-step>
                <div *ngIf="contactInfoGroup.invalid && contactInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext [disabled]="contactInfoGroup.invalid">
                    <i class="fa-solid fa-forward"></i> التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                     السابق <i class="fa-solid fa-backward"></i>
                  </button>
                </div>
              </mat-step>
              <mat-step [stepControl]="accountSetupGroup">
                <ng-template matStepLabel>Account Setup</ng-template>
                <app-account-setup-step
                  [formGroup]="accountSetupGroup"
                  [isEditMode]="isEditMode"
                ></app-account-setup-step>
                <div *ngIf="accountSetupGroup.invalid && accountSetupGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
               
                <div class="d-flex justify-content-between w-100">
                  <div class="d-flex justify-content-between w-100 mt-4">
                    @if (!isEditMode) {
                      <button type="submit" [disabled]="AppRequest.invalid" (click)="handleSubmit()" class="btn-main">
                        <i class="fa-solid fa-right-to-bracket"></i> تسجيل طلب الالتحاق
                      </button>
                      <button class="btn-main" matStepperPrevious>
                        السابق <i class="fa-solid fa-backward"></i>
                      </button>
                    }
                  </div>
                </div>
              </mat-step>
            </mat-vertical-stepper> -->
            <!-- Horizontal stepper for mobile -->
            <mat-horizontal-stepper
              
              #stepperMobile
              class="bg-white w-100"
              labelPosition="bottom"
              [linear]="true"
            >
              <mat-step [stepControl]="personalInfoGroup">
                <ng-template matStepLabel></ng-template>
                <app-basic-info-step
                  [formGroup]="personalInfoGroup"
                  [selectedNationality]="studentNationality"

                ></app-basic-info-step>
                <div *ngIf="personalInfoGroup.invalid && personalInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main ms-auto" matStepperNext [disabled]="personalInfoGroup.invalid">التالي</button>
                </div>
              </mat-step>
              <mat-step [stepControl]="familyInfoGroup">
                <ng-template matStepLabel></ng-template>
                <app-family-info-step
                  [formGroup]="familyInfoGroup"
                  [onFileSelected]="onFileSelected"
                ></app-family-info-step>
                <div *ngIf="familyInfoGroup.invalid && familyInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
 <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main  me-1" matStepperPrevious>
                    <i class="fa-solid fa-forward"></i>  السابق  
                  </button>
                  <button class="btn btn-main " matStepperNext [disabled]="familyInfoGroup.invalid">
                    التالي <i class="fa-solid fa-backward"></i>
                  </button>
                </div>



              </mat-step>
              <mat-step [stepControl]="academicInfoGroup">
                <ng-template matStepLabel></ng-template>
                <app-academic-info-step
                  [formGroup]="academicInfoGroup"
                  [levels]="levels()"
                  [faculties]="faculties"
                  [nameOfUniversities]="nameOfUniversities"
                  [facultiesMap]="facultiesMap"
                  [studentType]="studentType"
                  ></app-academic-info-step>
                <div *ngIf="academicInfoGroup.invalid && academicInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="d-flex justify-content-between w-100">
                 
                  <button class="btn btn-main me-1" matStepperPrevious>
                    <i class="fa-solid fa-forward"></i> السابق 
                  </button>
                  <button class="btn btn-main " matStepperNext [disabled]="academicInfoGroup.invalid">
                    التالي <i class="fa-solid fa-backward"></i>
                  </button>
                </div>
              </mat-step>
              <mat-step [stepControl]="contactInfoGroup">
                <ng-template matStepLabel></ng-template>
                <app-contact-info-step
                  [formGroup]="contactInfoGroup"
                  [countriesList]="countries"
                  [governoratesList]="filteredGovernorates()"
                  [citiesList]="filteredCities()"
                  [currentCountryCode]="selectedCountry()"
                  [currentGovernorateId]="selectedGovernorate()"
                ></app-contact-info-step>
                <div *ngIf="contactInfoGroup.invalid && contactInfoGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="d-flex justify-content-between w-100">
                
                  <button class="btn btn-main me-1" matStepperPrevious>
                    <i class="fa-solid fa-forward"></i> السابق 
                  </button>
                  <button class="btn btn-main" matStepperNext [disabled]="contactInfoGroup.invalid">
                    التالي <i class="fa-solid fa-backward"></i>
                  </button>
                </div>
              </mat-step>
              <mat-step [stepControl]="accountSetupGroup">
                <ng-template matStepLabel></ng-template>
                <app-account-setup-step
                  [formGroup]="accountSetupGroup"
                  [isEditMode]="isEditMode"
                ></app-account-setup-step>
                <div *ngIf="accountSetupGroup.invalid && accountSetupGroup.touched" class="text-danger mt-2">
                  <p>يرجى ملء جميع الحقول المطلوبة في هذه الخطوة.</p>
                </div>
                <div class="col-12 border-top pt-3 mt-3">
            
                </div>
                <div class="d-flex justify-content-between w-100">
                  <div class="d-flex justify-content-between w-100 mt-4">
                    @if (!isEditMode) {
                     
                      <button class="btn-main" matStepperPrevious>
                        <i class="fa-solid fa-forward"></i>  السابق 
                      </button>
                      <button type="submit" [disabled]="AppRequest.invalid" (click)="handleSubmit()" class="btn-main">
                       تسجيل طلب الالتحاق <i class="fa-solid fa-left-to-bracket"></i> 
                      </button>
                    }
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          @if (isEditMode) {
            <div class="ps-5">
              <button  type="submit" [disabled]="AppRequest.invalid" (click)="handleSubmit()" class="btn-main">
                تعديل طلب الالتحاق
              </button>
            </div>
          }
        </form>
        }
      </div>
    </section>
  </div>
</section>