section.sidebar
{
    min-height: 100vh;
    // max-width: fit-content;
    background-color: var(--light-color);
    z-index: 999;
}
.logo{
    width: fit-content;
}
.title
{
    color:#9F8437 ;
}
.list-group-item.active {
    background-color: #9F8437;
    border-color: #9F8437;
}

.main-content{
  height: 100vh;
  overflow-y: auto;
}



// في ملف الـ theme أو global styles
::ng-deep .custom-tooltip {
    background-color: #333 !important;
    color: white !important;
    font-size: 1.2rem !important;
    padding: 10px 20px !important;
    border-radius: 8px !important;
  }


  ::ng-deep .mat-tooltip {
    font-size: 1.2rem  !important; 
    color: inherit !important;
    white-space: nowrap; /* إذا كان النص لا يظهر في سطر واحد */
  }





.table {
    border-collapse: separate;
    border-spacing: 0 15px; /* Vertical spacing between rows */
    width: 90%;
    margin: auto;
}


h4{color:var(--main-color)}


  .toggle-btn {
    position: absolute;
    left: 100%;
    top: 10px;
    border: none;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  /* Add to your stylesheet */
.sidebar {
    position: relative;
    // transition: all 0.3s ease;
    max-width: 350px; 
    aspect-ratio: 400 / 895;
  }

  
  .sidebar.collapsed {
    width: 80px;
  }
  
  .toggle-btn {
    position: absolute;
    left: 100%;
    top: 10px;
    border: none;
    background: transparent;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .sidebar.collapsed .fs-3 {
    display: none !important;
  }
  
  .sidebar.collapsed .logo h1 {
    display: none;
  }
  
  .sidebar.collapsed .image img {
    width: 50px !important;
  }

 .sidebar.collapsed a{
    aspect-ratio: 1/1;
    padding: 0;
    justify-content: center;
  }

  .active ,.active > .page-link, .page-link.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color:white
  }
 
  
  