<section class="row flex-nowrap gap-4 my-5 my-section">
<div class="monument my-section p-0 my-0 overflow-hidden d-flex justify-content-center col-md-2">
    <img class="h-100" src="../../../assets/Website-1.jpg" alt="">
</div>
<div class="my-section flex-shrink-1 d-flex justify-content-center align-items-center p-0 my-0 col-md-10">
    <div class="content w-75 m-auto">
        <p class="h1">We can bring to life everything you've ever envisioned and dreamed of – your ideals and desires are our creations.</p>
        <p class="lead">Our purpose is to transform your wildest dreams into reality. Regardless of how unconventional your vision may be, we possess the capability to craft your dream home, fulfilling your every desire.</p>
        <button class="btn btn-main rounded-pill px-4 py-3"> Register Now</button>
    </div>
</div>
</section>