<section>
  <div class="air air1"></div>
  <div class="air air2"></div>
  <div class="air air3"></div>
  <div class="air air4"></div>
</section>
<footer dir="rtl" class="py-5">
  <div style="width: 90%" class="m-auto">
    <div class="row justify-content-between w-100">
      <div class="col-md-8 col-sm-12">
        <h2 class="">نحو بيئة سكنية جامعية متميزة.</h2>
        <p class="fs-1 fw-lighter p-2 py-5">
          نوفر لكم بيئة جامعية متكاملة، لضمان مستقبل أكثر راحة وأماناً لكم.
        </p>
      </div>
      <!-- Modified Button Section -->
      <div class="col-md-4 col-lg-3 text-center">
        <button class="btn btn-main p-3 p-lg-4 rounded rounded-5 border-0">
          <span class="btn-text">سجل الان</span>
        </button>
      </div>
    </div>
    <div class="mt-2">
      <nav
        class="navbar d-flex rounded-pill px-5 py-3 d-flex justify-content-between"
      >
        <a class="fs-1" href="#">مسكني</a>
        <ul
          class="navbar-nav d-flex flex-row justify-content-end gap-3 gap-md-5 col-md-8"
        >
          <li class="nav-item fs-3">
            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
          </li>
          <li class="nav-item fs-3">
            <a class="nav-link" href="#">الاستعلام</a>
          </li>
          <li class="nav-item fs-3">
            <a class="nav-link" href="#">الارشادات</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
