<section class="home position-relative">
<section class="background">
    <swiper-container  class="mySwiper w-100 h-100" 
    space-between="30"
    loop="true" 
    effect="fade"
    autoplay-delay="5000"
    autoplay-disable-on-interaction="false"
    >
    <!-- @for (link of backgroundLinks; track $index)
    { -->
        <swiper-slide class="m-0">
          <img class="w-100 h-100 object-fit-cover" [src]="backgroundLinks[0]" />
        </swiper-slide>
        <swiper-slide class="m-0">
          <img class="w-100 h-100  object-fit-cover" [src]="backgroundLinks[1]" />
        </swiper-slide>
        <swiper-slide class="m-0">
          <img class="w-100 h-100  object-fit-cover" [src]="backgroundLinks[2]" />
        </swiper-slide>
        <swiper-slide class="m-0">
          <img class="w-100 h-100  object-fit-cover" [src]="backgroundLinks[3]" />
        </swiper-slide>
    <!-- } -->
  </swiper-container>

</section>

<section class="hero gap-4 d-flex flex-column justify-content-center align-items-center">
  <div class="hero-image  w-100">
    <div style="width: 50vh;" class="logo  p-0 p-md-3 mx-auto d-flex justify-content-center align-items-end">
      <img src="./assets/dark logo.png" class="w-50" alt="" srcset="" />
    </div>
  </div>
  <div class="hero-content text-center text-light">
    <h1 >
        اهلا بك في
        <strong>مسكني</strong> 
    </h1>
    <p class="fs-1 lead">
        لأدارة المدن الجامعية لجامعة حلوان
    </p>
  </div>
  <div class="next">
    <button class="nav-link" [routerLink]="['/']" [fragment]="'hero-helper'" class="p-2 btn text-light"><i class="fa-3x fa-solid fa-angles-down fa-beat-fade"></i></button>
  </div>
</section>
</section>
