<section class="bg-body-secondary rounded-4 mt-4 p-4">
  <div class="title fw-bold border-bottom mb-4">
    <p>
      قم باختيار (قدامى/مستجدين) وملء بياناتك ثم الموافقة على الإقرار بالأسفل مع
      ملاحظة ان الطلاب المستجدين هم طلاب الفرق الأولى أو الاعدادية، الطلاب
      القدامى هم طلاب مابعد الفرق الأولى أو الاعدادية
    </p>
  </div>
  <form [formGroup]="AppRequest">
    <div class="mb-3 row">
      <label for="ssn" class="col-sm-2 col-form-label"> الرقم القومى</label>
      <div class="col-sm-4">
        <input formControlName="nationalId" type="input"  class="form-control" id="ssn"  />
      </div>
      <label for="studentNum" class="col-sm-2 col-form-label">
        كود الطالب
      </label>
      <div class="col-sm-4">
        <input type="input" class="form-control" id="studentNum" />
      </div>
    </div>
    <div class="mb-4 row">
      <label for="name" class="col-sm-2 col-form-label"> الأسم الاول</label>
      <div class="col-sm-4">
        <input
          formControlName="firstName"
          type="input"
          class="form-control"
          id="name"
          placeholder="الاسم الاول باللغة العربية"
        />
      </div>
      <label for="name" class="col-sm-2 col-form-label"> الأسم الثاني</label>
      <div class="col-sm-4">
        <input
        formControlName="lastName"
          type="input"
          class="form-control"
          id="name"
          placeholder="الاسم الثاني باللغة العربية"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="dateOfBirth" class="col-sm-2 col-form-label">
        تاريخ الميلاد</label
      >
      <div class="col-sm-4">
        <input formControlName="dateOfBirth"
        type="date" class="form-control" id="dateOfBirth" />
      </div>
      <label for="PlaceOfBirth" class="col-sm-2 col-form-label">
        محل الميلاد</label
      >
      <div class="col-sm-4">
        <select formControlName="placeOfBirth" class="form-select" dir="ltr" name="" id="PlaceOfBirth">
          <option value="" title="خارج مصر">خارج مصر</option>
          <option selected value="" title="القاهره">القاهره</option>
          <option value="" title="دمياط">دمياط</option>
          <option value="" title="الدقهلية">الدقهلية</option>
          <option value="" title="الشرقيه">الشرقيه</option>
          <option value="" title="القليوبيه">القليوبيه</option>
          <option value="" title="كفرالشيخ">كفرالشيخ</option>
          <option value="" title="الغربيه">الغربيه</option>
          <option value="" title="المنوفيه">المنوفيه</option>
          <option value="" title="البحيرة">البحيرة</option>
          <option value="" title="الاسماعيلية">الاسماعيلية</option>
          <option value="" title="الاسكندريه">الاسكندريه</option>
          <option value="" title="الجيزه">الجيزه</option>
          <option value="" title="الفيوم">الفيوم</option>
          <option value="" title="المنيا">المنيا</option>
          <option value="" title="اسيوط">اسيوط</option>
          <option value="" title="سوهاج">سوهاج</option>
          <option value="" title="قنــا">قنــا</option>
          <option value="" title="اسوان">اسوان</option>
          <option value="" title="الاقصـر">الاقصـر</option>
          <option value="" title="بورسعيد">بورسعيد</option>
          <option value="" title="البحر الاحمر">البحر الاحمر</option>
          <option value="" title="الوادي الجديد">الوادى الجديد</option>
          <option value="" title="مرسي مطروح">مرسى مطروح</option>
          <option value="" title="شمال سيناء">شمال سيناء</option>
          <option value="" title="جنوب سيناء">جنوب سيناء</option>
          <option value="" title="سيناء">سيناء</option>
          <option value="" title="السويس">السويس</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="gender" class="col-sm-2 col-form-label"> النوع</label>
      <div class="col-sm-4">
        <select formControlName="gender" class="form-control form-select" dir="ltr" name="" id="gender">
          <option value="">...</option>
          <option value="">ذكر</option>
          <option value="">انثي</option>
        </select>
      </div>
      <label for="reg" class="col-sm-2 col-form-label"> الديانة</label>
      <div class="col-sm-4">
        <select formControlName="religion" class="form-control form-select" dir="ltr" name="" id="reg">
          <option value="">...</option>
          <option value="">مسلم</option>
          <option value="">مسيحي</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="addr" class="col-sm-2 col-form-label"> محل الاقامه</label>
      <div class="col-sm-4">
        <select class="form-control form-select" dir="ltr" name="" id="addr">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="deatilsOfAddress" class="col-sm-2 col-form-label">
      العنوان بالتفصيل</label
      >
      <div class="col-sm-10">
        <input formControlName="detailedAddress" type="text" class="form-control" id="text" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">
        البريد الالكتروني</label
      >
      <div class="col-sm-10">
        <input formControlName="username" type="email" class="form-control" id="email" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="tel" class="col-sm-2 col-form-label"> التليفون</label>
      <div class="col-sm-4">
        <input formControlName="" type="tel" class="form-control" id="tel" />
      </div>
      <label for="phone" class="col-sm-2 col-form-label"> الموبايل</label>
      <div class="col-sm-4">
        <input formControlName="mobileNumber" type="tel" class="form-control" id="phone" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fatherName" class="col-sm-2 col-form-label"> اسم الأب</label>
      <div class="col-sm-10">
        <input
        formControlName="fatherName"
          type="text"
          class="form-control"
          id="fatherName"
          placeholder="الاسم رباعي باللغة العربية"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="fatherSsn" class="col-sm-2 col-form-label">
        الرقم القومى للأب
      </label>
      <div class="col-sm-10">
        <input formControlName="fatherNationalId" type="input" class="form-control" id="fatherSsn" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="job" class="col-sm-2 col-form-label"> وظيفة الأب </label>
      <div class="col-sm-4">
        <input formControlName="fatherOccupation" type="input" class="form-control" id="job" />
      </div>
      <label for="fathPhone" class="col-sm-2 col-form-label">تليفون الأب</label>
      <div class="col-sm-4">
        <input formControlName="fatherPhoneNumber" type="input" class="form-control" id="fathPhone" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="name2" class="col-sm-2 col-form-label"> اسم ولى الأمر</label>
      <div class="col-sm-4">
        <input formControlName="guardianName" type="input" class="form-control" id="name2" />
      </div>
      <label for="relation" class="col-sm-2 col-form-label">
        صلة ولي الأمر</label
      >
      <div class="col-sm-4">
        <input type="input" class="form-control" id="relation" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Ssn3" class="col-sm-2 col-form-label">
        الرقم القومى لولي الأمر</label
      >
      <div class="col-sm-4">
        <input formControlName="guardianNationalId"  type="input" class="form-control" id="Ssn3" />
      </div>
      <label for="phone2" class="col-sm-2 col-form-label">
        تليفون ولي الأمر</label
      >
      <div class="col-sm-4">
        <input formControlName="guardianPhoneNumber" type="input" class="form-control" id="phone2" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="parentsStatus" class="col-sm-2 col-form-label"> حالة تخص الوالدين</label>
      <div class="col-sm-4">
        <select formControlName="parentsStatus" class="form-control form-select" dir="ltr" name="" id="gender">
          <option value="">...</option>
          <option value="">وفاة الوالد</option>
          <option value="">وفاة الوالدين </option>
          <option value="">انفصال الوالدين </option>

        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="gender" class="col-sm-2 col-form-label"> الكلية</label>
      <div class="col-sm-4">
        <select formControlName="faculty" class="form-control form-select" dir="ltr" name="" id="faculty">
          <option value="">...</option>
          <option value="">ذكر</option>
          <option value="">انثي</option>
        </select>
      </div>
      <label for="reg" class="col-sm-2 col-form-label"> الديانة</label>
      <div class="col-sm-4">
        <select formControlName="level" class="form-control form-select" dir="ltr" name="" id="level">
          <option value="">...</option>
          <option value="">مسلم</option>
          <option value="">مسيحي</option>
        </select>
      </div>
    </div>
    
  </form>
</section>
