<section>
  <div class="container-fluid py-3">
    <div class="row g-3">
      <!-- Search input -->
      <div class="col-12 col-md-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control "
            placeholder="ابحث بالاسم أو الرقم القومي"
            [formControl]="searchControl"
          />
        </div>
      </div>
  
      <!-- Sort dropdown -->
      <div class="col-12 col-md-2">
        <select class="form-select" [formControl]="sortControl">
          <option value="normal">{{selectedSource == 'all' ? 'الاقدم اولا' : 'المستحق اولا'}}</option>
          <option value="reverse">{{selectedSource == 'all' ? 'الاحدث اولا' : 'غير المستحق اولا'}}</option>
        </select>
      </div>
  
      <!-- Status filters -->
      <div class="col-12 col-md-3">
        <div class="btn-group w-100" role="group" aria-label="Status filter buttons">
          <!-- تحت المراجعة -->
          <input
            type="checkbox"
            value="UNDER_REVIEW"
            id="underReview"
            class="btn-check"
            (change)="onStatusChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-warning" for="underReview">
            تحت المراجعة
          </label>
  
          <!-- مقبول -->
          <input
            type="checkbox"
            value="ACCEPTED"
            id="accepted"
            class="btn-check"
            (change)="onStatusChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-success" for="accepted">
            مقبول
          </label>
  
          <!-- مرفوض -->
          <input
            type="checkbox"
            value="REJECTED"
            id="rejected"
            class="btn-check"
            (change)="onStatusChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-danger" for="rejected">
            مرفوض
          </label>
        </div>
      </div>
  
      <!-- Gender filters -->
      <div class="col-12 col-md-1">
        <div class="btn-group w-100" role="group" aria-label="Gender filter buttons">
          <!-- Male -->
          <input
            type="checkbox"
            value="MALE"
            id="male"
            class="btn-check"
            (change)="onGenderChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="male">
            ذكر
          </label>
  
          <!-- Female -->
          <input
            type="checkbox"
            value="FEMALE"
            id="female"
            class="btn-check"
            (change)="onGenderChange($event)"
            autocomplete="off"
          />
          <label class="btn btn-outline-info" for="female">
            أنثى
          </label>
        </div>
      </div>
  
      <!-- Action buttons -->
      <div class="col-12 col-md-2">
        <div class="d-flex gap-2">
          <button
            type="button"
            class="btn btn-outline-dark flex-fill d-flex justify-content-center align-items-center gap-2"
            (click)="openDialog()"
          >
            <i class="fa-solid fa-download"></i>
            <span>تنزيل</span>
          </button>
          <button
            *ngIf="!_AuthService.getRole()?.includes('ViEW')"
            type="button"
            class="btn btn-outline-success flex-fill d-flex justify-content-center align-items-center gap-2"
            (click)="openUploadDialog()"
          >
            <i class="fa-solid fa-upload"></i>
            <span>الاستعلام الامني</span>
          </button>
        </div>
      </div>
      <div class="btn-group mb-3 mx-auto col-md-6" role="group" aria-label="Data Source Toggle">
        <input type="radio" class="btn-check" name="dataSource" id="allData" [(ngModel)]="selectedSource" value="all" (change)="onSourceChange()">
        <label class="btn btn-outline-primary" for="allData">كل الطلبات</label>
      
        <input type="radio" class="btn-check" name="dataSource" id="sortedData" [(ngModel)]="selectedSource" value="sorted" (change)="onSourceChange()">
        <label class="btn btn-outline-primary" for="sortedData">الطلبات مرتبة تبعا للتنسيق</label>
      </div>
    </div>
  </div>

  <h4 class="text-center">
    عدد الطلبات:
    {{
      searchControl.value || selectedStatuses.length > 0 || selectedGenders.length > 0
        ? filteredItems.length
        : res.length
    }}
  </h4>

  <div class="table-responsive overflow-x-auto shadow-lg">
    <table class="table table-hover table-striped border shadow-sm rounded">
      <thead class="table-light">
        <tr class="text-center">
          <th scope="col" width="60">الحالة</th>
          <th scope="col">الرقم القومي</th>
          <th scope="col">الاسم</th>
          <th scope="col">الموبايل</th>
          <th scope="col">العنوان</th>
          <th scope="col">الكلية</th>
          <th scope="col">الفرقة</th>
          <th scope="col" class="text-center" *ngIf="!_AuthService.getRole()?.includes('ViEW')">الإجراءات</th>
        </tr>
      </thead>
      <tbody>
        @for (item of pagedItems; track $index) {
        <tr (click)="RowClick(item)" class="cursor-pointer align-middle">
          <td class="text-center">
            <span class="status-indicator">
              <i
                [class.text-success]="item?.status === 'ACCEPTED'"
                [class.text-danger]="item?.status === 'REJECTED'"
                [class.text-warning]="item?.status === 'UNDER_REVIEW'"
                class="fa-solid fa-circle"
              ></i>
              <!-- <span class="status-text d-none d-md-inline small ms-1 fw-bold" 
                [class.text-success]="item?.status === 'ACCEPTED'"
                [class.text-danger]="item?.status === 'REJECTED'"
                [class.text-warning]="item?.status === 'UNDER_REVIEW'">
                {{ item?.status === 'ACCEPTED' ? 'مقبول' : 
                   item?.status === 'REJECTED' ? 'مرفوض' : 'تحت المراجعة' }}
              </span> -->
            </span>
          </td>
          <th scope="row" class="fw-medium">{{ item?.nationalId }}</th>
          <td>{{ item?.firstName }} {{ item?.lastName }}</td>
          <td>{{ item?.mobileNumber }}</td>
          <td>{{ item?.residenceAddress }}</td>
          <td>{{ item?.faculty }}</td>
          <td>{{ getLevel(item?.level) }}</td>
          <td *ngIf="!_AuthService.getRole()?.includes('ViEW')">
            <div class="d-flex flex-wrap gap-2 justify-content-center" >
              <button *ngIf="item?.securityCheckStatues === 'ACCEPTED'" 
                [class.d-none]="item?.status === 'ACCEPTED'" 
                (click)="confirmation(item?.userId,'ACCEPTED',item);$event.stopPropagation()" 
                class="btn btn-sm btn-outline-success">
                <i class="fa-solid fa-check me-1"></i> قبول
              </button>
              <button 
                [class.d-none]="item?.status === 'REJECTED'" 
                (click)="confirmation(item?.userId,'REJECTED',item);$event.stopPropagation()" 
                class="btn btn-sm btn-outline-danger">
                <i class="fa-solid fa-times me-1"></i> رفض
              </button>
              <button 
                [class.d-none]="item?.status === 'UNDER_REVIEW'" 
                (click)="confirmation(item?.userId,'UNDER_REVIEW',item);$event.stopPropagation()" 
                class="btn btn-sm btn-outline-warning">
                <i class="fa-solid fa-clock me-1"></i> مراجعة
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
  <!-- Enhanced Pagination -->
  <nav dir="rtl" class="py-4" aria-label="Page navigation">
    <ul class="pagination pagination-md justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
          <span class="d-none d-sm-inline ms-1 cursor-pointer">السابق</span>
        </a>
      </li>
      <li class="page-item cursor-pointer" *ngFor="let page of getDisplayedPages()" [class.active]="page === currentPage">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item cursor-pointer" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span class="d-none d-sm-inline me-1 cursor-pointer">التالي</span>
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</section>

