.table,.card {
    border-collapse: separate;
    // border-spacing: 0 15px; /* Vertical spacing between rows */
    margin: auto;
}

/* Fix border radius and hover effects */
.table-hover tbody tr {
    background: white;
    transition: all 0.3s ease;
}
 td, th {
    padding:0.25rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: fit-content;
    max-width: 200px;
}
h4{color:var(--main-color)}

.table-hover tbody tr:hover {
    transform: translateY(-2px); /* Optional hover lift effect */
}

.table-hover tbody tr:hover td{
      color: var(--main-color);
}

.table-hover tbody tr td.selected{
      color: var(--main-color);
      background-color: var(--light-color);

}

.active > .page-link, .page-link.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color:white
  }
  .page-link:hover{
    color: var(--main-color)
  }
  .page-link{
    color: var(--main-color)
  }

  .form-control:focus {
    border-color: var(--main-color); /* Change to your desired color */
    box-shadow: 0 0 0 0.2rem #9f83376e; /* Adjust the spread and opacity */
  }
  .custom-checkbox:checked {
    accent-color: var(--main-color);

  }

  .females{
    color: palevioletred;
  }
  .bg-females{
    background-color: palevioletred;
  }

  /* CSS */
/* تنسيق الذكر عند التحديد */
#male + .btn-outline-primary {
  border-color: #0DCAF0 !important;
  color: #0DCAF0 !important;
}

/* تنسيق الأنثى عند التحديد */
#female + .btn-outline-info {
  border-color: palevioletred !important;
  outline-color: palevioletred !important;
  color: palevioletred !important;
}
#male:checked + .btn-outline-primary {
  background-color: #0DCAF0 !important;
  border-color: #0DCAF0 !important;
  color: white !important;
}

/* تنسيق الأنثى عند التحديد */
#female:checked + .btn-outline-info {
  background-color: palevioletred !important;
  border-color: palevioletred !important;
  outline-color: palevioletred !important;
  color: white !important;
}

/* تأثيرات Hover */
#male:not(:checked) + .btn-outline-primary:hover {
  background-color: rgba(13, 202, 240, 0.2) !important;
}

#female:not(:checked) + .btn-outline-info:hover {
  background-color: rgba(219, 112, 147, 0.2) !important;
}

/* تأثيرات Active (عند الضغط) */
#male:active + .btn-outline-primary,
#female:active + .btn-outline-info {
  filter: brightness(90%) !important;
}