<section class="bg-main-light container px-4 rtl py-5" dir="rtl">
  <h5 class="mb-5">اضافة غرفة</h5>
  <form
    [formGroup]="addRoomForm"
    class="w-100"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="mb-5">
      <label for="roomNumber" class="block mb-2"> </label>
      <input
        type="text"
        id="roomNumber"
        class="form-control"
        placeholder=" رقم الغرفه  "
        formControlName="roomNumber"
      />
      @if (addRoomForm.get('roomNumber')?.hasError('required') &&
      addRoomForm.get('roomNumber')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="floorNumber" class="block mb-2"> </label>
      <input
        type="text"
        id="floorNumber"
        class="form-control"
        placeholder=" رقم الطابق  "
        formControlName="floorNumber"
      />
      @if (addRoomForm.get('floorNumber')?.hasError('required') &&
      addRoomForm.get('floorNumber')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="wing" class="block mb-2">  </label>
      <input
        type="text"
        id="wing"
        class="form-control"
        placeholder=" الجناح"
        formControlName="wing"
      />
      @if (addRoomForm.get('wing')?.hasError('required') &&
      addRoomForm.get('wing')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="bedCount" class="block mb-2"> </label>
      <input
        type="text"
        id="bedCount"
        class="form-control"
        placeholder="عدد السرر  "
        formControlName="bedCount"
      />
      @if (addRoomForm.get('bedCount')?.hasError('required') &&
      addRoomForm.get('bedCount')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="occupiedBeds" class="block mb-2"> </label>
      <input
        type="text"
        id="occupiedBeds"
        class="form-control"
        placeholder="السرر  المشغولة  "
        formControlName="occupiedBeds"
      />
      @if (addRoomForm.get('occupiedBeds')?.hasError('required') &&
      addRoomForm.get('occupiedBeds')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="capacity" class="block mb-2"> </label>
      <input
        type="text"
        id="capacity"
        class="form-control"
        placeholder="  الكثافة"
        formControlName="capacity"
      />
      @if (addRoomForm.get('capacity')?.hasError('required') &&
      addRoomForm.get('capacity')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="currentOccupancy" class="block mb-2"> </label>
      <input
        type="text"
        id="currentOccupancy"
        class="form-control"
        placeholder="الإشغال الحالي"
        formControlName="currentOccupancy"
      />
      @if (addRoomForm.get('currentOccupancy')?.hasError('required') &&
      addRoomForm.get('currentOccupancy')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>
    <div class="mb-5">
      <label for="type" class="block mb-2"></label>
      <select id="type" class="form-control" formControlName="type">
        <option value="" disabled selected>اختر النوع</option>
        <option value="SINGLE">مفردة</option>
        <option value="DOUBLE">مزدوجة</option>
        <option value="DORM">مسكن</option>
      </select>
      @if (addRoomForm.get('type')?.hasError('required') &&
      addRoomForm.get('type')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>

    <div class="mb-5">
      <label for="status" class="block mb-2"></label>
      <select id="status" class="form-control" formControlName="status">
        <option value="" disabled selected>اختر الحالة</option>
        <option value="AVAILABLE">متاحة</option>
        <option value="OCCUPIED">مشغولة</option>
        <option value="MAINTENANCE">تحت الصيانة</option>
      </select>
      @if (addRoomForm.get('status')?.hasError('required') &&
      addRoomForm.get('status')?.touched) {
      <div class="text-danger">مطلوب</div>
      }
    </div>

    <button type="submit" class="btn-main me-3">اضافه</button>
    <button type="button" (click)="onClose()" class="btn-main-delete">
      الغاء
    </button>
  </form>
</section>
