<section class="bg-main-light container px-4 rtl py-5" dir="rtl">
  <h5 class="mb-5">اضافة غرفة</h5>
  <form
    [formGroup]="addRoomForm"
    class="w-100"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <!-- Room Number with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="roomNumber"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('roomNumber')?.valid && addRoomForm.get('roomNumber')?.touched,
          'is-invalid': addRoomForm.get('roomNumber')?.invalid && addRoomForm.get('roomNumber')?.touched
        }"
        placeholder=" "
        formControlName="roomNumber"
      />
      <label for="roomNumber">رقم الغرفة</label>


    </div>

    <!-- Floor Number with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="floorNumber"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('floorNumber')?.valid && addRoomForm.get('floorNumber')?.touched,
          'is-invalid': addRoomForm.get('floorNumber')?.invalid && addRoomForm.get('floorNumber')?.touched
        }"
        placeholder=" "
        formControlName="floorNumber"
      />
      <label for="floorNumber">رقم الطابق</label>


    </div>

    <!-- Wing with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="wing"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('wing')?.valid && addRoomForm.get('wing')?.touched,
          'is-invalid': addRoomForm.get('wing')?.invalid && addRoomForm.get('wing')?.touched
        }"
        placeholder=" "
        formControlName="wing"
      />
      <label for="wing">الجناح</label>


    </div>

    <!-- Bed Count with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="bedCount"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('bedCount')?.valid && addRoomForm.get('bedCount')?.touched,
          'is-invalid': addRoomForm.get('bedCount')?.invalid && addRoomForm.get('bedCount')?.touched
        }"
        placeholder=" "
        formControlName="bedCount"
      />
      <label for="bedCount">عدد السرر</label>


    </div>

    <!-- Occupied Beds with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="occupiedBeds"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('occupiedBeds')?.valid && addRoomForm.get('occupiedBeds')?.touched,
          'is-invalid': addRoomForm.get('occupiedBeds')?.invalid && addRoomForm.get('occupiedBeds')?.touched
        }"
        placeholder=" "
        formControlName="occupiedBeds"
      />
      <label for="occupiedBeds">السرر المشغولة</label>


    </div>

    <!-- Capacity with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="capacity"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('capacity')?.valid && addRoomForm.get('capacity')?.touched,
          'is-invalid': addRoomForm.get('capacity')?.invalid && addRoomForm.get('capacity')?.touched
        }"
        placeholder=" "
        formControlName="capacity"
      />
      <label for="capacity">الكثافة</label>


    </div>

    <!-- Current Occupancy with floating label -->
    <div class="form-floating mb-4">
      <input
        type="text"
        id="currentOccupancy"
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('currentOccupancy')?.valid && addRoomForm.get('currentOccupancy')?.touched,
          'is-invalid': addRoomForm.get('currentOccupancy')?.invalid && addRoomForm.get('currentOccupancy')?.touched
        }"
        placeholder=" "
        formControlName="currentOccupancy"
      />
      <label for="currentOccupancy">الإشغال الحالي</label>


    </div>

    <!-- Type with floating label -->
    <div class="form-floating mb-4">
      <select 
        id="type" 
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('type')?.valid && addRoomForm.get('type')?.touched,
          'is-invalid': addRoomForm.get('type')?.invalid && addRoomForm.get('type')?.touched
        }"
        formControlName="type"
      >
        <option value="" disabled selected></option>
        <option value="SINGLE">مفردة</option>
        <option value="DOUBLE">مزدوجة</option>
        <option value="DORM">مسكن</option>
      </select>
      <label for="type">النوع</label>


    </div>

    <!-- Status with floating label -->
    <div class="form-floating mb-4">
      <select 
        id="status" 
        class="form-control"
        [ngClass]="{
          'is-valid': addRoomForm.get('status')?.valid && addRoomForm.get('status')?.touched,
          'is-invalid': addRoomForm.get('status')?.invalid && addRoomForm.get('status')?.touched
        }"
        formControlName="status"
      >
        <option value="" disabled selected></option>
        <option value="AVAILABLE">متاحة</option>
        <option value="OCCUPIED">مشغولة</option>
        <option value="MAINTENANCE">تحت الصيانة</option>
      </select>
      <label for="status">الحالة</label>


    </div>

    <!-- Form buttons -->
    <div class="mt-4">
      <button type="submit" class="btn-main me-3">اضافة</button>
      <button type="button" (click)="onClose()" class="btn-main-delete">
        الغاء
      </button>
    </div>
  </form>
</section>
