<section class="p-md-5 py-5 px-2">
<h1>مواعيد التقديم للمدن الجامعية</h1>
<table class="table table-hover">
    <thead class="">
      <tr class="">
        <th scope="col"></th>
        <th scope="col">من</th>
        <th scope="col">الي</th>
      </tr>
    </thead>
    <tbody class="">
      <tr  *ngIf="!res[0]?.guidelines" class="">
        <th scope="row">{{res[0]?.studentType}}</th>
        <td>{{res[0]?.applicationStartDate}}</td>
        <td>{{res[0]?.applicationEndDate}}</td>
      </tr>
      <tr  *ngIf="!res[0]?.guidelines">
        <th scope="row">{{res[1]?.studentType}}</th>
        <td>{{res[1]?.applicationStartDate}}</td>
        <td>{{res[1]?.applicationEndDate}}</td>
      </tr>

    </tbody>
  </table>
</section>
