<section class="p-5">
<h1>Application , Deadline!</h1>
<table class="table  table-hover">
    <thead class="">
      <tr class="">
        <th scope="col"></th>
        <th scope="col">From</th>
        <th scope="col">To</th>
      </tr>
    </thead>
    <tbody class="">
      <tr  class="">
        <th scope="row">{{res[0].studentType}}</th>
        <td>{{res[0].applicationStartDate}}</td>
        <td>{{res[0].applicationEndDate}}</td>
      </tr>
      <tr>
        <th scope="row">{{res[1].studentType}}</th>
        <td>{{res[1].applicationStartDate}}</td>
        <td>{{res[1].applicationEndDate}}</td>
      </tr>

    </tbody>
  </table>
</section>
