<section class="outlet-container">
  <div dir="rtl" class="my-container">
    <div style="height: 90px"></div>
    <section class="bg-white shadow-lg container mx-auto my-5 p-4 rounded-4">
      <div class="flex flex-col">
      
        <div class="title fw-bold border-bottom mb-4">
          <p>
            @if(!isEditMode) {
              <h2 class="text-black p-3 font-semibold">تقديم طلب الالتحاق</h2>
              قم باختيار (قدامى/مستجدين) وملء بياناتك ثم
            الموافقة على الإقرار بالأسفل مع ملاحظة ان الطلاب المستجدين هم طلاب
            الفرق الأولى أو الاعدادية، الطلاب القدامى هم طلاب مابعد الفرق الأولى
            أو الاعدادية } @else { 
              <h2 class="text-black p-3 font-semibold">تعديل طلب الالتحاق</h2>
              يمكنك تعديل بياناتك ثم الضغط على زر "تعديل
            طلب الالتحاق" لحفظ التغييرات }
          </p>
        </div>
        <div class="mb-3 row border-bottom p-2">
          <div class="d-flex flex-wrap justify-content-start gap-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <button
                type="button"
                class="btn w-100"
                [class.btn-main]="activeButton === 'old'"
                [class.btn-outline-secondary]="activeButton !== 'old'"
                (click)="selectStudentType('old')"
              >
                <span class="d-none d-sm-inline">طلاب قدامى</span>
                <span class="d-inline d-sm-none">قدامى</span>
              </button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <button
                type="button"
                class="btn w-100"
                [class.btn-main]="activeButton === 'new'"
                [class.btn-outline-secondary]="activeButton !== 'new'"
                (click)="selectStudentType('new')"
              >
                <span class="d-none d-sm-inline">طلاب مستجدين</span>
                <span class="d-inline d-sm-none">مستجدين</span>
              </button>
            </div>
          </div>
        </div>
        @if (studentType !== null) {

        <form [formGroup]="AppRequest" (ngSubmit)="handleSubmit()">
          <div class="flex flex-col">
            <!-- Vertical stepper for large screens -->
            <mat-vertical-stepper
              #stepperLarge
              class="bg-white p-4 w-100 d-none d-md-block"
              labelPosition="bottom"
              [linear]="false"
            >
              <mat-step>
                <ng-template matStepLabel>Personal Information</ng-template>
                <app-basic-info-step
                  [formGroup]="AppRequest"
                ></app-basic-info-step>
                <div>
                  <button class="btn btn-main" mat-button matStepperNext>
                    التالي
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Family Information</ng-template>
                <app-family-info-step
                  [formGroup]="AppRequest"
                ></app-family-info-step>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext>
                    التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Academic Information</ng-template>
                <app-academic-info-step
                  [formGroup]="AppRequest"
                  [levels]="levels()"
                  [studentType]="studentType"
                ></app-academic-info-step>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext>
                    التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Contact Information</ng-template>
                <app-contact-info-step
                  [formGroup]="AppRequest"
                  [countriesList]="countries"
                  [governoratesList]="filteredGovernorates()"
                  [citiesList]="filteredCities()"
                  [currentCountryCode]="selectedCountry()"
                  [currentGovernorateId]="selectedGovernorate()"
                ></app-contact-info-step>

                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext>
                    التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Account Setup</ng-template>
                <app-account-setup-step
                  [formGroup]="AppRequest"
                  [isEditMode]="isEditMode"
                ></app-account-setup-step>
               
                  <div class="col-12 border-top pt-3 mt-3">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="confirmDataAccuracyCheckbox"
                        formControlName="confirmDataAccuracy"
                      />
                      <label
                        class="form-check-label fw-semibold text-secondary"
                        for="confirmDataAccuracyCheckbox"
                      >
                        أقر بأن البيانات (محل الإقامة - التقدير - الفرقة/الكلية)
                        صحيحة طبقاً للأوراق الرسمية على أن أقدم هذه الأوراق عند
                        حضوري للمدينة في حالة القبول وإذا ثبت أي خطأ في البيانات
                        يتم تحويلي للشئون القانونية وفصلي نهائياً من المدينة.
                      </label>
                    </div>
              
                    <!-- رسالة التحقق الخاصة بالـ Checkbox -->
                   
                    <div
                      class="text-danger mt-1 d-block validation-message-confirm ps-4"
                    >
                      @if
                      (AppRequest.hasError('required'))
                      {
                      <p class="m-0" style="font-size: 0.85rem">
                        * يجب الإقرار بصحة البيانات للمتابعة.
                      </p>
                      }
                    </div>
                    
                  </div>
                    
               
              

                <div class="d-flex justify-content-between w-100">
                  <div class="d-flex justify-content-between w-100 mt-4">

                    @if (!isEditMode) {
                       <button [disabled]="AppRequest.invalid" class="btn-main">
                     
                      تسجيل طلب الالتحاق
                      
                    </button>
                    <button class="btn btn-main m-1" matStepperPrevious>
                      السابق
                    </button>
                    }
                   
                  </div>
                </div>
              </mat-step>
           

            </mat-vertical-stepper>

            <!-- Horizontal stepper for mobile -->
            <mat-horizontal-stepper
              #stepperMobile
              class="bg-white p-4 w-100 d-block d-md-none"
              labelPosition="bottom"
              [linear]="false"
            >
              <mat-step>
                <ng-template matStepLabel></ng-template>
                <app-basic-info-step
                  [formGroup]="AppRequest"
                ></app-basic-info-step>
                <div>
                  <button class="btn btn-main" matStepperNext>التالي</button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel></ng-template>
                <app-family-info-step
                  [formGroup]="AppRequest"
                ></app-family-info-step>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext>
                    التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel></ng-template>
                <app-academic-info-step
                  [levels]="levels()"
                  [formGroup]="AppRequest"
                  [studentType]="studentType"
                ></app-academic-info-step>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext>
                    التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel></ng-template>
                <app-contact-info-step
                  [countriesList]="countries"
                  [governoratesList]="filteredGovernorates()"
                  [citiesList]="filteredCities()"
                  [currentCountryCode]="selectedCountry()"
                  [currentGovernorateId]="selectedGovernorate()"
                  [formGroup]="AppRequest"
                ></app-contact-info-step>
                <div class="d-flex justify-content-between w-100">
                  <button class="btn btn-main m-1" matStepperNext>
                    التالي
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel></ng-template>
                <app-account-setup-step
                  [formGroup]="AppRequest"
                  [isEditMode]="isEditMode"
                ></app-account-setup-step>
                <div class="col-12 border-top pt-3 mt-3">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="confirmDataAccuracyCheckbox"
                      formControlName="confirmDataAccuracy"
                    />
                    <label
                      class="form-check-label fw-semibold text-secondary"
                      for="confirmDataAccuracyCheckbox"
                    >
                      أقر بأن البيانات (محل الإقامة - التقدير - الفرقة/الكلية)
                      صحيحة طبقاً للأوراق الرسمية على أن أقدم هذه الأوراق عند
                      حضوري للمدينة في حالة القبول وإذا ثبت أي خطأ في البيانات
                      يتم تحويلي للشئون القانونية وفصلي نهائياً من المدينة.
                    </label>
                  </div>
            
                  <!-- رسالة التحقق الخاصة بالـ Checkbox -->
                 
                  <div
                    class="text-danger mt-1 d-block validation-message-confirm ps-4"
                  >
                    @if
                    (AppRequest.hasError('required'))
                    {
                    <p class="m-0" style="font-size: 0.85rem">
                      * يجب الإقرار بصحة البيانات للمتابعة.
                    </p>
                    }
                  </div>
                  
                </div>
                <div class="d-flex justify-content-between w-100">
                  <button [disabled]="AppRequest.invalid" class="btn-main">
                    {{
                      isEditMode ? "تعديل طلب الالتحاق" : "تسجيل طلب الالتحاق"
                    }}
                  </button>
                  <button class="btn btn-main m-1" matStepperPrevious>
                    السابق
                  </button>
                </div>
              </mat-step>

            </mat-horizontal-stepper>
          </div >

          @if (isEditMode) { <div class="ps-5">
            <button [disabled]="AppRequest.invalid" class="btn-main">
          
              تعديل طلب الالتحاق 
           
          </button>


            </div>}
           
         
        </form>

        }
      </div>
    </section>
  </div>
</section>
