<div class="mb-3" dir="rtl">
    <div [formGroup]="formGroup" class="flex flex-col gap-4">
      <h1 class="text-main mb-3 font-semibold">بيانات دراسية</h1>
  
      <!-- الكلية -->
      <!-- <div class="flex flex-col">
        <label class="text-gray-700 mb-2 font-semibold">الكلية</label>
        <select formControlName="faculty" class="form-select rounded-lg shadow-sm">
          <option value="">اختر الكلية</option>
          <option value="كلية الآداب">كلية الآداب</option>
          <option value="كلية الاقتصاد المنزلي">كلية الاقتصاد المنزلي</option>
          <option value="كلية التربية">كلية التربية</option>
          <option value="كلية التمريض">كلية التمريض</option>
          <option value="كلية الحاسبات والذكاء الاصطناعي">كلية الحاسبات والذكاء الاصطناعي</option>
          <option value="كلية الخدمة الاجتماعية">كلية الخدمة الاجتماعية</option>
          <option value="كلية الصيدلة">كلية الصيدلة</option>
          <option value="كلية الطب">كلية الطب</option>
          <option value="كلية العلوم">كلية العلوم</option>
          <option value="كلية الفنون التطبيقية">كلية الفنون التطبيقية</option>
          <option value="كلية الفنون الجميلة">كلية الفنون الجميلة</option>
          <option value="كلية التربية الرياضية بنين">كلية التربية الرياضية بنين</option>
          <option value="كلية التربية الرياضية بنات">كلية التربية الرياضية بنات</option>
          <option value="كلية الهندسة بالمطرية">كلية الهندسة بالمطرية</option>
          <option value="كلية الهندسة بحلوان">كلية الهندسة بحلوان</option>
          <option value="كلية التجارة وإدارة الأعمال">كلية التجارة وإدارة الأعمال</option>
          <option value="كلية الحقوق">كلية الحقوق</option>
          <option value="كلية التربية الموسيقية">كلية التربية الموسيقية</option>
          <option value="كلية التربية الفنية">كلية التربية الفنية</option>
          <option value="كلية السياحة والفنادق">كلية السياحة والفنادق</option>
          <option value="كلية التعليم الصناعي">كلية التعليم الصناعي</option>
          <option value="المعهد القومي للملكية الفكرية">المعهد القومي للملكية الفكرية</option>
        </select>
        @if (faculty?.errors && (faculty?.touched)) {
          <div class="text-danger mt-1">
            @if (faculty?.hasError('required')) {
              <p class="m-0">الكلية مطلوبة</p>
            }
          </div>
        }
      </div> -->
  


      
  <!-- اختيار الجامعة -->
   <div class="flex flex-col">
     <label for="university">اختر الجامعة:</label>
 <select id="university" formControlName="universityId" class="form-select rounded-lg shadow-sm">
  <option [ngValue]="null" disabled>-- اختر الجامعة --</option>
  <option *ngFor="let uni of nameOfUniversities" [ngValue]="uni.value">
    {{ uni.label }}
  </option>
</select>

   @if (universityId?.errors && (universityId?.touched)) {
          <div class="text-danger mt-1">
            @if (universityId?.hasError('required')) {
              <p class="m-0">الجامعة مطلوبة</p>
            }
          </div>
        }
   </div>
  <!-- اختيار الكلية -->
   <div class="flex flex-col">
     <label for="faculty">اختر الكلية:</label>
  <select id="faculty" formControlName="faculty" class="form-select rounded-lg shadow-sm" [disabled]="!faculties.length">
    <option value="" disabled>-- اختر الكلية --</option>
    <option *ngFor="let faculty of faculties" [value]="faculty">
      {{ faculty }}
    </option>
  </select>
     @if (faculty?.errors && (faculty?.touched)) {
          <div class="text-danger mt-1">
            @if (faculty?.hasError('required')) {
              <p class="m-0">الكلية مطلوبة</p>
            }
          </div>
        }
   </div>
 
 





      <!-- الفرقة -->
      <div class="flex flex-col">
        <label class="text-gray-700 mb-2 font-semibold">الفرقة</label>
        <select formControlName="level" class="form-select rounded-lg shadow-sm">
          <option value="" selected disabled>اختر الفرقة</option>
          @for (levelItem of levels; track levelItem.value) { 
            <option [value]="levelItem.value">{{ levelItem.label }}</option>
          }
        </select>
        @if (level?.errors && (level?.touched)) {
          <div class="text-danger mt-1">
            @if (level?.hasError('required')) {
              <p class="m-0">الفرقة مطلوبة</p>
            }
          </div>
        }
      </div>
  
      <!-- بيانات الطلاب المستجدين -->
      @if (studentType === 'new') {
        <!-- شعبة الثانوية -->
        <div class="flex flex-col">
          <label class="text-gray-700 mb-2 font-semibold">شعبة الثانوية</label>
          <select formControlName="secondaryDivision" class="form-select rounded-lg shadow-sm">
            <option value="" disabled selected>اختر الشعبة</option>
            <option value="---">---</option>
            <option value="علمي علوم">علمي علوم</option>
            <option value="علمي رياضة">علمي رياضة</option>
            <option value="أدبي">أدبي</option>
            <option value="أزهري علمي">أزهري علمي</option>
            <option value="أزهري أدبي">أزهري أدبي</option>
            <option value="معاهد مهنية ثلاث سنوات">معاهد مهنية ثلاث سنوات</option>
            <option value="معاهد مهنية أربع سنوات">معاهد مهنية أربع سنوات</option>
            <option value="معاهد مهنية خمس سنوات">معاهد مهنية خمس سنوات</option>
            <option value="دبلومات مهنية">دبلومات مهنية</option>
            <option value="شهادات معادلة">شهادات معادلة</option>
            <option value="مدارس STEM للعلوم والتكنولوجيا">مدارس STEM للعلوم والتكنولوجيا</option>
            <option value="مدارس النيل للعلوم والتكنولوجيا">مدارس النيل للعلوم والتكنولوجيا</option>
            <option value="تحويل ورقي">تحويل ورقي</option>
          </select>
          @if (secondaryDivision?.errors && (secondaryDivision?.touched)) {
            <div class="text-danger mt-1">
              @if (secondaryDivision?.hasError('required')) {
                <p class="m-0">شعبة الثانوية مطلوبة</p>
              }
            </div>
          }
        </div>
  
        <!-- مجموع الثانوية العامة -->
        <div class="flex flex-col">
          <label class="text-gray-700 mb-2 font-semibold">مجموع الثانوية العامة</label>
          <input 
            formControlName="totalGradesHighSchool"
            type="number"
            class="form-control rounded-lg shadow-sm"
            placeholder=" % "
          />
          @if (totalGradesHighSchool?.errors && (totalGradesHighSchool?.touched)) {
            <div class="text-danger mt-1">
              @if (totalGradesHighSchool?.hasError('required')) {
                <p class="m-0">مجموع الثانوية العامة مطلوب</p>
              }
            </div>
          }
        </div>
      }
  
      <!-- بيانات الطلاب القدامى -->
      @if (studentType === 'old') {

        <div class="flex flex-col">
          <label for="annualGrade" class="col-sm-2 col-form-label"> تقدير العام الماضى </label> 
             <select formControlName="annualGrade" class="form-control form-select rounded-lg  shadow-sm"  name="grades">
               <option value="" selected disabled>---</option>
               <option value="ACCEPTABLE">مقبول</option>
               <option value="CARRY_SUBJECTS">محمول بمادة</option>
               <option value="EXCUSED_ABSENCE">غياب بعذر</option>
               <option value="PROMOTED_WITH_MAIN_AND_SECONDARY">مقبول (بمادة ومادة ثانوية)</option>
               <option value="PASS">ناجح</option>
               <option value="GOOD">جيد</option>
               <option value="VERY_GOOD">جيد جدًا</option>
               <option value="EXCELLENT">ممتاز</option>
               <option value="PROMOTED_WITH_ONE_SUBJECT">منقول بمادة</option>
               <option value="PROMOTED_WITH_TWO_SUBJECTS">منقول بمادتين</option>
               <option value="FAIL">راسب</option>
               <option value="SECOND_ROUND">دور ثان</option>
               <option value="PROMOTED_WITH_TWO_AND_ONE_MINOR">منقول (بمادتين ومادة فرعيه)</option>
               
             </select>
             @if(annualGrade?.errors && annualGrade?.touched ){
               <div class=" m-1 p-2 alert-danger text-danger w-100">
                 @if (annualGrade?.getError('required') ) {
                   <p class="m-0"> * تقدير العام الماضى مطلوب</p>              
                 }
               </div>

             }
             </div>
            



        <div class="flex flex-col">
          <label class="text-gray-700 mb-2 font-semibold">نسبة التقدير العام الماضي</label>
          <input
            formControlName="previousAcademicYearGpa"
            type="number"
            class="form-control rounded-lg  shadow-sm"
            placeholder="4.0"
            min="0"
            max="4.0"
          />
          @if (previousAcademicYearGpa?.errors && (previousAcademicYearGpa?.touched)) {
            <div class="text-danger mt-1">
              @if (previousAcademicYearGpa?.hasError('required')) {
                <p class="m-0">نسبة التقدير العام الماضي مطلوبة</p>
              }
            </div>
          }
        </div>


                <!-- السكن في الأعوام السابقة -->
                <div class="flex flex-col">
                  <label class="text-gray-700 mb-2 font-semibold">السكن في الأعوام السابقة</label>
                  <select formControlName="housingInPreviousYears" class="form-select rounded-lg  shadow-sm">
                    <option value="" selected disabled>اختر</option>
                    <option value="سكن قديم">سكن قديم</option>
                    <option value="سكن مستجد">سكن مستجد</option>
                    <option value="سكن منقطع">سكن منقطع</option>
                  </select>
                  @if (housingInPreviousYears?.errors && (housingInPreviousYears?.touched)) {
                    <div class="text-danger mt-1">
                      @if (housingInPreviousYears?.hasError('required')) {
                        <p class="m-0">السكن في الأعوام السابقة مطلوب</p>
                      }
                    </div>
                  }
                </div>
      }

      

      
      

      <div class="flex flex-col">
        <label class="text-gray-700 mb-2 font-semibold">نوع السكن</label>
        <select formControlName="houseTypeName" class="form-select rounded-lg shadow-sm">
          <option value="" disabled selected>اختر نوع السكن</option>
          <option value="DORM">سكن عادي</option>
          <option value="SINGLE">سكن مميز</option>
        </select> 
        @if (houseTypeName?.errors && (houseTypeName?.touched)) {
          <div class="text-danger mt-1">
            @if (houseTypeName?.hasError('required')) {
              <p class="m-0">نوع السكن مطلوب</p>
            }
          </div>
        }
      </div>
  

      <div class="form-check form-switch mt-2 custom-form-switch"> 
        <input
          class="form-check-input"
          type="checkbox"
          id="cbx-familyAbroad-toggle"
          formControlName="wantFood"
        >
        <label
          class="form-check-label fw-bold text-gray-700" 
          for="cbx-familyAbroad-toggle"
        >
        سكن بدون تغذية  
        </label>
         
      </div>

     
         
      </div>
    </div>
