<div class="mb-3" dir="rtl">
  <div [formGroup]="formGroup" class="flex flex-col gap-4">
    <h1 class="text-main mb-3 font-semibold">بيانات شخصية</h1>

    <!-- الرقم القومي -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">الرقم القومي</label>
      <input formControlName="nationalId" type="text" class="form-control rounded-lg shadow-sm" />
      <div *ngIf="nationalId?.invalid && ( nationalId?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="nationalId?.hasError('required')">الرقم القومي مطلوب</p>
        <p class="m-0" *ngIf="nationalId?.hasError('pattern')">يجب أن يكون 14 رقمًا</p>
      </div>
      <small class="text-muted">يستخدم لاستخراج البيانات الأخرى</small>
    </div>

    <!-- الاسم الأول -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">الاسم الأول</label>
      <input formControlName="firstName" type="text" class="form-control rounded-lg shadow-sm" />
      <div *ngIf="firstName?.invalid && (firstName?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="firstName?.hasError('required')">الاسم الأول مطلوب</p>
      </div>
    </div>

    <!-- الاسم الثاني -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">الاسم الثاني</label>
      <input formControlName="lastName" type="text" class="form-control rounded-lg shadow-sm" />
      <div *ngIf="lastName?.invalid && (lastName?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="lastName?.hasError('required')">الاسم الثاني مطلوب</p>
      </div>
    </div>

    <div class="flex flex-col">
      <label class="mb-2 font-semibold"> كود الطالب</label>
      <input formControlName="studentCode" type="text" class="form-control rounded-lg shadow-sm" />
      <div *ngIf="studentCode?.invalid && (studentCode?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="studentCode?.hasError('required')">  كود الطالب مطلوب</p>
      </div>
    </div>

    <!-- تاريخ الميلاد -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">تاريخ الميلاد</label>
      <input formControlName="dateOfBirth" type="date" readonly class="form-control rounded-lg shadow-sm" />
      <div *ngIf="dateOfBirth?.invalid && (dateOfBirth?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="dateOfBirth?.hasError('required')">تاريخ الميلاد مطلوب</p>
      </div>
      <small class="text-muted">يتم استخراجه تلقائياً من الرقم القومي</small>
    </div>

    <!-- محل الميلاد -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">محل الميلاد</label>
      <select formControlName="placeOfBirth" class="form-select rounded-lg shadow-sm">
        <option value="">اختر</option>
        <option value="القاهره">القاهرة</option>
        <option value="دمياط">دمياط</option>
        <option value="الدقهلية">الدقهلية</option>
        <option value="الشرقيه">الشرقية</option>
        <option value="القليوبيه">القليوبية</option>
        <option value="كفرالشيخ">كفر الشيخ</option>
        <option value="الغربيه">الغربية</option>
        <option value="المنوفيه">المنوفية</option>
        <option value="البحيرة">البحيرة</option>
        <option value="الاسماعيلية">الإسماعيلية</option>
        <option value="الاسكندريه">الإسكندرية</option>
        <option value="الجيزه">الجيزة</option>
        <option value="الفيوم">الفيوم</option>
        <option value="المنيا">المنيا</option>
        <option value="اسيوط">أسيوط</option>
        <option value="سوهاج">سوهاج</option>
        <option value="قنــا">قنا</option>
        <option value="اسوان">أسوان</option>
        <option value="الاقصـر">الأقصر</option>
        <option value="بورسعيد">بورسعيد</option>
        <option value="البحر الاحمر">البحر الأحمر</option>
        <option value="الوادي الجديد">الوادي الجديد</option>
        <option value="مرسي مطروح">مرسى مطروح</option>
        <option value="شمال سيناء">شمال سيناء</option>
        <option value="جنوب سيناء">جنوب سيناء</option>
        <option value="سيناء">سيناء</option>
        <option value="السويس">السويس</option>
      </select>
      <div *ngIf="placeOfBirth?.invalid && (placeOfBirth?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="placeOfBirth?.hasError('required')">محل الميلاد مطلوب</p>
      </div>
      <small class="text-muted">يتم استخراجه تلقائياً من الرقم القومي</small>
    </div>

    <!-- النوع -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">النوع</label>
      <select formControlName="gender" class="form-select rounded-lg shadow-sm">
        <option value="">اختر</option>
        <option value="MALE">ذكر</option>
        <option value="FEMALE">أنثى</option>
      </select>
      <div *ngIf="gender?.invalid && (gender?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="gender?.hasError('required')">النوع مطلوب</p>
      </div>
      <small class="text-muted">يتم استخراجه تلقائياً من الرقم القومي</small>
    </div>

    <!-- الديانة -->
    <div class="flex flex-col">
      <label class="mb-2 font-semibold">الديانة</label>
      <select formControlName="religion" class="form-select rounded-lg shadow-sm">
        <option value="">اختر</option>
        <option value="MUSLIM">مسلم</option>
        <option value="CHRISTIAN">مسيحي</option>
      </select>
      <div *ngIf="religion?.invalid && (religion?.touched)" class="text-danger mt-1">
        <p class="m-0" *ngIf="religion?.hasError('required')">الديانة مطلوبة</p>
      </div>
    </div>
  </div>

  
  </div>
