<div class="container-fluid">
    @if (selectedAdmissionRequest) {
    <section class="row gap-3">
      <section class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">
              عرض بيانات الطلب
                <span *ngIf="selectedAdmissionRequest?.status === 'UNDER_REVIEW'" class="badge rounded-pill text-bg-warning">تحت المراجعة</span>
                <span *ngIf="selectedAdmissionRequest?.status === 'ACCEPTED'" class="badge rounded-pill text-bg-success">مقبول</span>
                <span *ngIf="selectedAdmissionRequest?.status === 'REJECTED'" class="badge rounded-pill text-bg-danger">مرفوض</span>
            </h3>
          </div>
          <div class="card-body">
            <!-- صف: الرقم القومي وكود الطالب -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">الرقم القومي</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.nationalId }}</p>
              </div>
              <label class="col-sm-2 col-form-label">كود الطالب</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.studentCode }}</p>
              </div>
            </div>
            <!-- صف: الاسم الأول والاسم الثاني -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">الاسم الأول</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.firstName }}</p>
              </div>
              <label class="col-sm-2 col-form-label">الاسم الثاني</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.lastName }}</p>
              </div>
            </div>
            <!-- صف: تاريخ الميلاد ومحّل الميلاد -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">تاريخ الميلاد</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.dateOfBirth}}</p>
              </div>
              <label class="col-sm-2 col-form-label">محل الميلاد</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.placeOfBirth }}</p>
              </div>
            </div>
            <!-- صف: النوع والديانة -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">النوع</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.gender === 'MALE' ? 'ذكر' : 'أنثى' }}</p>
              </div>
              <label class="col-sm-2 col-form-label">الديانة</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.religion === 'MUSLIM' ? 'مسلم' : 'مسيحي' }}</p>
              </div>
            </div>
            <!-- residence address -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">محل الأقامه</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.residenceAddress }}</p>
              </div>
            </div>
            <!-- صف: العنوان بالتفصيل -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">العنوان بالتفصيل</label>
              <div class="col-sm-10">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.detailedAddress }}</p>
              </div>
            </div>
            <!-- صف: البريد الالكتروني -->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">الموبايل</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.mobileNumber }}</p>
                </div>
              <label class="col-sm-2 col-form-label">البريد الالكتروني</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.username }}</p>
              </div>
            </div>
            <hr>
            <!-- صف: بيانات الأب -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">اسم الأب</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.fatherName }}</p>
              </div>
              <label class="col-sm-2 col-form-label">الرقم القومي للأب</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.fatherNationalId }}</p>
              </div>
            </div>
            <!-- صف: بيانات ولي الأمر -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">اسم ولي الأمر</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.guardianName }}</p>
              </div>
              <label class="col-sm-2 col-form-label px-0">الرقم القومي لولي الأمر</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.guardianNationalId }}</p>
              </div>
            </div>
            <!-- parent status -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label"> حاله الوالدين </label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.parentsStatus }}</p>
              </div>
              
            </div>
            <hr>
            <!-- صف: بيانات أخرى مثل الكلية والفرقة -->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">الكلية</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.faculty }}</p>
              </div>
              <label class="col-sm-2 col-form-label">الفرقة</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">{{ selectedAdmissionRequest?.level }}</p>
              </div>
            </div>
            <!--صف:فاميلي احتياجات خاصه-->
            <div class="mb-3 row">
              <label class="col-sm-2 col-form-label">الاسرة بالخارج</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">
                    {{ selectedAdmissionRequest?.familyAbroad }}
                    <i *ngIf="selectedAdmissionRequest?.familyAbroad" class="fa-solid fa-square-check text-success"></i>
                    <i *ngIf="!selectedAdmissionRequest?.familyAbroad" class="fa-solid fa-square-xmark text-danger"></i>
                </p>
              </div>
              <label class="col-sm-2 col-form-label">ذوي احتياجات خاصة</label>
              <div class="col-sm-4">
                <p class="form-control-plaintext">
                    {{ selectedAdmissionRequest?.specialNeeds}}
                    <i *ngIf="selectedAdmissionRequest?.specialNeeds" class="fa-solid fa-square-check text-success"></i>
                    <i *ngIf="!selectedAdmissionRequest?.specialNeeds" class="fa-solid fa-square-xmark text-danger"></i>
                </p>
              </div>
            </div>
            <hr>
            @if (selectedAdmissionRequest?.housingInPreviousYears)
             {
                <!-- صف: بيانات أخرى مثل نوع الطلب-->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">نوع الطالب</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.studentType}}</p>
                </div>
              </div>
            <div class="mb-3 row">
                <label class="col-sm-2 px-0 col-form-label">السكن فى الأعوام السابقة</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.housingInPreviousYears }}</p>
                </div>
                <label class="col-sm-2 px-0 col-form-label">نسبة التقدير العام الماضي</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.previousAcademicYearGpa }}</p>
                </div>
              </div>
             }
             @else 
             {
                 <!-- صف: بيانات أخرى مثل نوع الطلب-->
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">نوع الطالب</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.studentType}}</p>
                </div>
              </div>
                    <!-- صف: بيانات أخرى مثل الكلية والفرقة -->
                <div class="mb-3 row">
                <label class="col-sm-2 px-0 col-form-label">شعبة الثانوية العامة</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.secondaryDivision }}</p>
                </div>
                <label class="col-sm-2 px-0 col-form-label">مجموع الثانوية العامة</label>
                <div class="col-sm-4">
                  <p class="form-control-plaintext">{{ selectedAdmissionRequest?.totalGradesHighSchool }}</p>
                </div>
              </div>
             }
            <!-- يمكنك متابعة باقي الحقول بنفس الطريقة -->
          </div>
        </div>
      </section>
      <div class="buttons d-flex gap-3">
          <button [class.d-none]="selectedAdmissionRequest?.status === 'ACCEPTED'" (click)="DecideAr(selectedAdmissionRequest?.userId,'ACCEPTED')" class="acceptButton px-4 btn btn-outline-success">قبول الطلب</button>
          <button [class.d-none]="selectedAdmissionRequest?.status === 'REJECTED'" (click)="DecideAr(selectedAdmissionRequest?.userId,'REJECTED')" class="rejectButton px-4 btn btn-outline-danger">رفض الطلب</button>
          <button [class.d-none]="selectedAdmissionRequest?.status === 'UNDER_REVIEW'" (click)="DecideAr(selectedAdmissionRequest?.userId,'UNDER_REVIEW')" class="reviewButton px-4 btn btn-outline-warning">تحت المراجعة</button>
      </div>
      
    </section>
}
  </div>