<app-auth-layout #form>
  <div class="header-text mb-4 text-start">
    <h2 class="fw-bold pb-2">استعادة كلمة المرور</h2>
    <!-- <h5>    لإعادة تعيين كلمة مرورك لجامعتك </h5> -->
    <p class="text-secondary">
      من فضلك أدخل بريدك الإلكتروني لتلقي رابط إعادة تعيين كلمة المرور.
    </p>
  </div>
  <Form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <input
        [ngClass]="{
          'is-valid':
            !forgotPasswordForm.get('email')?.errors &&
            forgotPasswordForm.get('email')?.touched,
          'is-invalid':
            forgotPasswordForm.get('email')?.errors &&
            forgotPasswordForm.get('email')?.touched
        }"
        formControlName="email"
        type="email"
        class="form-control form-control-lg bg-light fs-6"
        style="text-align: right"
        placeholder="عنوان البريد الإلكتروني"
      />
      @if(forgotPasswordForm.get('email')?.errors &&
      forgotPasswordForm.get('email')?.touched ){
      <div class="m-1 p-2 text-danger text-danger w-100">
        @if (forgotPasswordForm.get('email')?.getError('required') ) {
        
        } @else if (forgotPasswordForm.get('email')?.getError('email')) {
      
        }
      </div>
      }
    </div>
    <div class="input-group mb-3">
      <button [disabled]="!forgotPasswordForm.valid" class="btn btn-lg btn-main w-100 fs-6">ارسال</button>
    </div>
  </Form>
</app-auth-layout>
