@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.bodysection{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 75rem;
}

/*------------ Right box ------------*/

.right-box{
    padding: 120px 70px 120px 120px;
    order: 1;
}
.left-box {
    order: 2; /* Move the image to the right */
  }
/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.logo-small-screen {
    display: none;
  }

  

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 10px;

     }


     .desktop-img {
        display: none; /* Hide the large image */
      }
      .logo-small-screen {
        display: block; /* Show the logo */
        text-align: right; /* Align the logo to the right */
        margin-bottom: 20px; /* Add some spacing */
      }
     .left-box{
        height: 200px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 0;
        overflow: hidden;
        order: 1;

     }
     .right-box{
        padding: 20px;
        order: 2; /* Move the image to the right */

     }

}