<td>
    <select (change)="selectBuilding($event.target)"  (click)="$event.stopPropagation();" class="form-select">
        <option disabled selected hidden >اختر مبني</option>
        <option *ngFor="let item of filteredBuildings " [value]="item.id" > {{item.name}}</option>
      </select>
  </td>
  <td>
    <select (change)="selectRoom($event.target)" [disabled]="resRooms.length === 0" class="form-select" (click)="$event.stopPropagation()" >
        <option disabled selected hidden >اختر غرفة</option>
        <option *ngFor="let room of resRooms" [value]="room.id">
          {{ room.roomNumber }}
        </option>
      </select>
  </td>