<section dir="ltr" class="vh-100 position-relative">
<div class="back position-absolute d-flex align-items-end">
<div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#050F27" fill-opacity="1" d="M0,288L34.3,272C68.6,256,137,224,206,192C274.3,160,343,128,411,144C480,160,549,224,617,224C685.7,224,754,160,823,133.3C891.4,107,960,117,1029,144C1097.1,171,1166,213,1234,229.3C1302.9,245,1371,235,1406,229.3L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>

    <div class=" waveback">
        
    </div>
</div>
</div>
<div class="front position-absolute d-flex">
    <div class="d-none col-md-6 d-md-flex align-items-center">
        <img class="w-100" src="../../../assets/sapiens.png" alt="">
    </div>
    <div dir="rtl" class="col-md-6 lh-lg d-flex p-5 flex-column align-items-start justify-content-center">
        <h1 class="">اهلا ,
             محمد
            </h1>
        <p class="h1 w-75">
            في 
            <span style="color: var(--main-color);">مسكني </span> 
            لادارة المدن الجامعية
            <span style="color: var(--dark-child-color);">
                لجامعة حلوان
            </span>
        </p>
    </div>
</div>
</section>
