<section class="premium-card my-4 p-4" dir="rtl">
  <div class="card-header d-flex align-items-center justify-content-between mb-4">
    <h4 class="section-title">اضافه مشرف وصلاحياته</h4>
    <button 
    *ngIf="!_AuthService.getRole()?.includes('ViEW')"
      type="button" 
      (click)="openDialog()"
      class="btn-add"
    >
      <i class="fas fa-calendar-plus me-2"></i>اضافة مشرف
    </button>
  </div>
  
  <div class="table-responsive">
    <table class="premium-table">
      <thead>
        <tr>
          <th scope="col">  البريد الالكتروني</th>
          <th scope="col">  الدور</th>
          <th scope="col"> الصلاحيات</th>
          <th scope="col" class="text-center">التحكم في الصلاحيات</th>
        </tr>
      </thead>
      <tbody>
        @if (admins.length > 0) { 
          @for (item of admins; track $index) {
            <tr>
              <td>{{item.username}}</td>
              <td>{{item.role}}</td>
            <td>

  <div *ngFor="let priv of item.privileges">
    {{ privilegeNames[priv.name] || priv.name }}
  </div>


            </td>

              <td class="actions-cell">
                <button 
                  type="button" 
                  (click)="openPrivDialog(item.userID , item)"
                  class="btn-edit "
                >
                  <i class="fas fa-edit me-1"></i>اضف او تعديل
                </button>
                <button 
                  type="button" 
                  (click)="openRevokePrivDialog(item.userID , item)"
                  class="btn-edit"
                >
                  <i class="fas fa-minus me-1"></i>الغاء صلاحية  
                </button>

                 <button 
                  type="button" 
                  (click)="revokeAllPrivileges(item.userID)"
                  class="btn-edit"
                >
                  <i class="fas fa-ban me-1"></i> الغاء الكل   
                </button>

                <!-- <button 
                *ngIf="!_AuthService.getRole()?.includes('ViEW')&& !_AuthService.getRole()?.includes('EDIT')"
                  type="button" 
                  (click)="deleteDeadline(item.id)"
                  class="btn-delete-text"
                >
                  <i class="fas fa-trash-alt me-1"></i>حذف
                </button> -->
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="4" class="empty-state">
              <div>
                <i class="far fa-calendar-times fa-2x mb-3"></i>
                <p>لا توجد مواعيد تقديم حاليًا</p>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>