<section class="home position-relative overflow-hidden">
  <section class="background">
    <swiper-container
      class="mySwiper w-100 h-100"
      space-between="30"
      loop="true"
      effect="fade"
      autoplay-delay="5000"
      autoplay-disable-on-interaction="false"
    >
      <!-- @for (link of backgroundLinks; track $index)
    { -->
      <swiper-slide class="m-0">
        <img class="w-100 h-100 object-fit-cover" [src]="backgroundLinks[0]" />
      </swiper-slide>
      <swiper-slide class="m-0">
        <img class="w-100 h-100 object-fit-cover" [src]="backgroundLinks[1]" />
      </swiper-slide>
      <swiper-slide class="m-0">
        <img class="w-100 h-100 object-fit-cover" [src]="backgroundLinks[2]" />
      </swiper-slide>
      <swiper-slide class="m-0">
        <img class="w-100 h-100 object-fit-cover" [src]="backgroundLinks[3]" />
      </swiper-slide>
      <!-- } -->
    </swiper-container>
  </section>

  <section
    class="hero gap-4 d-flex flex-column justify-content-center align-items-center"
  >
    <div data-aos="fade-down" class="hero-content text-center text-light">
      <h1>
        اهلا بك في
        <strong style="color: #b38e19">مسكني</strong>
      </h1>
      <p class="fs-1 lead">
        لأدارة المدن الجامعية
        <ng-container *ngIf="local.university$ | async as uni">
          <strong *ngIf="uni === 'hu'">لجامعة حلوان الحكومية</strong>
          <strong *ngIf="uni === 'hnu'">لجامعة حلوان الأهلية</strong>
          <strong *ngIf="uni === 'hitu'"
          >لجامعة حلوان التكنولوجية الدولية</strong
          >
        </ng-container>
        <strong *ngIf="!(local.university$ | async) as university">... اختر جامعتك </strong>
      </p>
    </div>

    <div data-aos="fade-down" class="hero-image w-100">
      <div
        class="logo flex-wrap p-0 p-md-3 mx-auto d-flex gap-5 justify-content-center align-items-end"
      >
        <img
          [ngClass]="{
            active: (local.university$ | async) === 'hnu',
            hidden:
              (local.university$ | async) !== null &&
              (local.university$ | async) !== 'hnu'
          }"
          src="./assets/hnuDarkLogo.png"
          (click)="addUniversity('hnu')"
          class="logo-item scale rounded rounded-5"
          alt=""
        />

        <img
          [ngClass]="{
            active: (local.university$ | async) === 'hu',
            hidden:
              (local.university$ | async) !== null &&
              (local.university$ | async) !== 'hu'
          }"
          src="./assets/logo.png"
          (click)="addUniversity('hu')"
          class="logo-item scale"
          alt=""
        />

        <img
          [ngClass]="{
            active: (local.university$ | async) === 'hitu',
            hidden:
              (local.university$ | async) !== null &&
              (local.university$ | async) !== 'hitu'
          }"
          src="./assets/HituDarkLogo.png"
          (click)="addUniversity('hitu')"
          class="logo-item scale rounded rounded-5"
          alt=""
        />
      </div>
    </div>

    <div *ngIf="(local.university$ | async) as university" data-aos="fade-down" class="">
      <button
        class="nav-link"
        class="p-2 btn btn-outline-light"
        (click)="changUni()"
      >
        تغيير الجامعة
      </button>
    </div>
    <div *ngIf="(local.university$ | async) as university" data-aos="fade-down" class="next ">
      <button
        class="nav-link"
        [routerLink]="['/']"
        [fragment]="'hero-helper'"
        class="p-2 btn text-light"
      >
        <i class="fa-3x fa-solid fa-angles-down fa-beat-fade"></i>
      </button>
    </div>
  </section>
</section>
