/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*
{
  font-family: 'cairo';
}
:root {
  --main-color: #9F8437;
  --hover-color: #11bd11;
  --light-color: #f0f3f2;
  --light-base-color: #ffffff;
  --light-parent-color: #F7F8F8;
  --light-child-color: #FfFfFf;
  --dark-base-color: #050F27;
  --dark-parent-color: #111B31;
  --dark-child-color: #1B2439;

  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}
/* Add scroll margin to all anchor targets */
#application-deadline,
#guidlines,
#acceptanceStatus {
  // scroll-margin-top: 200px !important; /* 90px nav height + 20px spacing */

}
#application-deadline::before,
#guidlines::before,
#acceptanceStatus::before,
#hero-helper::before
 {
  content: "";
  display: block;
  height: 110px;
  margin-top: -110px;
  visibility: hidden;
}

html {
  
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family) !important;
  overflow-x: hidden;
}
.my-container
{
  width: 90%;
  margin-inline: auto auto;
  border-radius: 5rem;
}

.my-section
{
    background-color: var(--light-parent-color);
    margin-inline: 0;
    margin-block: 3rem;
    border-radius: 5rem;
}

.nav-link {
  // transition: unset !important;
}
.active-link {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border-radius: 5px;
}

.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 5px;
  border: solid 1px var(--main-color);
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 10px #11bd1168;
}

.font-sm {
  font-size: 12px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.btn-main {
  background-color: var(--dark-base-color);
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: var(--dark-child-color);
  color: #fff;

}
.nav-spacer
{
  height: 72px;
}


.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}