
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gp-ucm-primary: mat.define-palette(mat.$indigo-palette);
$gp-ucm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gp-ucm-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gp-ucm-theme: mat.define-light-theme((
  color: (
    primary: $gp-ucm-primary,
    accent: $gp-ucm-accent,
    warn: $gp-ucm-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gp-ucm-theme);

::ng-deep .custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
  font-family: 'cairo';
}
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --bs-primary: #9F8437;
  --main-color: #9F8437;
  --hover-color: #11bd11;
  --main-base-color: #f5f5f5;
  --light-color: #f0f3f2;
  --light-base-color: #ffffff;
  --light-parent-color: #F7F8F8;
  --light-child-color: #FfFfFf;
  --dark-base-color: #050F27;
  --dark-parent-color: #111B31;
  --dark-child-color: #1B2439;
 --delete-main-color: #750202;
  --shadow: rgba(145, 158, 171, 0.2) 0rem .125rem .25rem -0.0625rem,
    rgba(145, 158, 171, 0.14) 0rem .25rem .3125rem 0rem,
    rgba(145, 158, 171, 0.12) 0rem .0625rem .625rem 0rem;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

/* Add scroll margin to all anchor targets */
#application-deadline,
#guidlines,
#acceptanceStatus {
  // scroll-margin-top: 12.5rem !important; /* 5.625rem nav height + 1.25rem spacing */

}
#application-deadline::before,
#guidlines::before,
#acceptanceStatus::before,
#hero-helper::before
 {
  content: "";
  display: block;
  height: 6.875rem;
  margin-top: -6.875rem;
  visibility: hidden;
}

html {
  
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family) !important;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
.transparent-dialog .mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.my-container
{
  width: 90%;
  margin-inline: auto auto;
  border-radius: 80px;
}

.my-section
{
    background-color: var(--light-parent-color);
    margin-inline: 0;
    margin-block: 48px;
    border-radius: 80px;
}

.nav-link {
  // transition: unset !important;
}
.active-link {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border-radius: .3125rem;
}

.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: .3125rem;
  border: solid .0625rem var(--main-color);
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 .625rem #11bd1168;
}

.font-sm {
  font-size: .75rem;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-navy {
  background-color: var(--dark-base-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.btn-main {
  background-color: var(--dark-base-color);
  padding: .4375rem 1.25rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-main-gold {
  background-color: var(--main-color);
  padding: .4375rem 1.25rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-main-delete {
  background-color: var(--delete-main-color);
  padding: .4375rem 1.25rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btndisabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: var(--dark-child-color);
  color: #fff;

}
.nav-spacer
{
  height: 4.5rem;
}


.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

