<section class="row justify-content-center py-4">
   
<section  *appPrivileges="'ACCESS_VIEW_ADMISSION_REQUESTS'"  class="col-md-3 py-3 px-3 side-content">
    <app-users-side-list></app-users-side-list>
  </section>
  <section class="col-11 col-sm-10 col-md-9 col-lg-8 flex-grow-1 main-content"> 

    <section class="mt-5">
         <div class="row mb-4">
    <div class="col-12">
      <h2 class="dashboard-title">  التظلمات</h2>
    </div>
  </div>
      <div class="row g-4">
        @for (item of filteredAppeals| paginate: { itemsPerPage: 10, currentPage: page };  track $index) {
        <div class="col-md-6 appeal-card-col">
          <div class="card h-100 shadow-sm border-0 appeal-card">
            <div class="card-header bg-light border-bottom d-flex justify-content-between align-items-center">

                 <span class="text-muted lg fw-bold">
                <i class="far fa-user  me-1"></i> {{ item.username }}
              </span>
              <span class="text-muted lg fw-bold">
                <i class="fas fa-balance-scale  me-1"></i> 
              </span>
              <!-- <span class="text-muted small fw-bold">
                 <i class="far fa-clock me-1"></i> {{ item.createdAt | date : "dd/MM/yyyy, hh:mm a" }}
              </span> -->
            </div>
            <div class="card-body d-flex flex-column">
              <div class="mb-2">
              <span 
  class="badge mb-2"
  [ngClass]="{
    'bg-warning text-dark': item.status === 'UNDER_REVIEW',
    'bg-success': item.status === 'ACCEPTED',
    'bg-danger text-white text-dark': item.status !== 'UNDER_REVIEW' && item.status !== 'ACCEPTED'
  }"
>
  <i class="fas fa-tag me-1"></i>
  {{ item.status }}
</span>

              </div>
              <p class="card-text appeal-text mb-4 flex-grow-1">
                {{ item.reason }}
              </p>
              <div class="mt-auto d-flex justify-content-end  gap-2">
                <button
                  (click)="readMore(item.reason)"
                  class="btn btn-outline-dark   me-auto"
                >
                  <i class="far fa-eye me-1"></i> عرض التظلم
                </button>
                <button
                  (click)="onUpdateAppealStatus(item.id , 'ACCEPTED')"
                  class="btn btn-sm btn-main  appeal-action-btn"
                  *appPrivileges="'ACCESS_UPDATE_APPEAL_STATUS'"
                >
                  <i class="fas fa-check me-1"></i> قبول
                </button>

                 <button
                  (click)="onUpdateAppealStatus(item.id , 'REJECTED')"
                  class="btn btn-sm btn-danger appeal-action-btn"
                  *appPrivileges="'ACCESS_UPDATE_APPEAL_STATUS'"
                >
                   <i class="fas fa-times-circle me-1"></i> رفض
                </button>
              </div>
            </div>
          </div>
        </div>
        } @empty {
          <div class="col-12">
            <div class="alert alert-secondary text-center" role="alert">
              <i class="fas fa-info-circle me-2"></i> لا توجد تظلمات لعرضها حاليًا.
            </div>
          </div>
        }

          <pagination-controls 
  class="mt-3"
  (pageChange)="page = $event"
  [maxSize]="5"
  [responsive]="true"
  [autoHide]="true"
  [directionLinks]="true"
  previousLabel="السابق"
  nextLabel="التالي"
  style="
    display: flex;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 12px;
  "
>
</pagination-controls>
      </div>
    </section>
  </section>
