<!-- export-form.component.html -->
<div dir="rtl" class="container-fluid my-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form class="export-form">
          <!-- Gender Selection -->
          <div class="card mb-4">
            <div class="card-header  bg-main  text-white">
              <h5 class="mb-0">اختر النوع</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4" *ngFor="let gender of genders">
                  <div class="form-check">
                    <input class="form-check-input" 
                           type="radio" 
                           name="gender" 
                           id="{{gender.value}}" 
                           [value]="gender.value"
                           [(ngModel)]="selectedGender">
                    <label class="form-check-label" [for]="gender.value">
                      {{gender.label}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Status Selection -->
          <div class="card mb-4">
            <div class="card-header bg-main text-white">
              <h5 class="mb-0">اختر الحالة</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-3" *ngFor="let status of statuses">
                  <div class="form-check">
                    <input class="form-check-input" 
                           type="radio" 
                           name="status" 
                           id="{{status.value}}" 
                           [value]="status.value"
                           [(ngModel)]="selectedStatus">
                    <label class="form-check-label" [for]="status.value">
                      {{status.label}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Download Button -->
          <div class="d-grid gap-2">
            <button style="width: fit-content;" class="btn btn-main-gold rounded-pill btn-md mx-auto" 
                    (click)="onDownload()"
                    [disabled]="isDownloading">
              <span *ngIf="!isDownloading">تحميل ملف الاكسيل</span>
              <span *ngIf="isDownloading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Downloading...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
