<app-auth-layout>
    <div class="header-text mb-4 text-start">
    <h2 class="fw-bold pb-2">استعادة كلمة المرور</h2>
    <!-- <h5>    لإعادة تعيين كلمة مرورك لجامعتك </h5> -->
    <p class="text-secondary">
    من فضلك أدخل كلمة المرور الجديدة لتحديث حسابك
    </p>
  </div>

     <Form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-2">
            <div class="input-group">
              <input
                [ngClass]="{
                  'is-valid': !resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched,
                  'is-invalid': resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched
                }"
                formControlName="newPassword"
                [type]="showPassword ? 'text' : 'newPassword'"
                class="form-control form-control-lg bg-light fs-6"
                placeholder="كلمة المرور"
              />
              <button
                type="button"
                class="btn btn-main"
                (click)="togglePasswordVisibility()"
                aria-label="Toggle password visibility"
              >
                <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
              </button>
            </div>
            @if (resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched) {
              <div class="m-1 p-2 text-danger w-100">
                @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                  <p class="m-0"> *</p>
                }
                @else if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
                  <p class="m-0"> *</p>
                }
              </div>
            }
          </div>
           <div class="input-group mb-3">
            <button class="btn btn-lg btn-main w-100 fs-6"> اعاده تعيين كلمة المرور</button>
          </div>
     </Form>
</app-auth-layout>
